@page "/"
<PageTitle>Welcome to SharpScape</PageTitle>

<div class="px-4 pt-5 m-0 text-center border-bottom" style="position: absolute; left: 0; top:0; width: 100%;">
    <h1 class="display-4 fw-bold my-5">SharpScape</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
        SharpScape is an online multiplayer community.
        Play and chat with your friends in real-time, or visit the community forums and get engrossed in deep discussions.
    </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <div class="col-sm">
                <p><img src="/images/proto.gif" width="240"/></p>
                <p>Walk around and talk with other people in realtime. Talk with strangers, find your friends, or make new ones!</p>
                <a href="/PlayGame" class="btn btn-primary btn-lg px-4 me-sm-3">Play SharpScape</a>
            </div>
            <div class="col-sm">
                <p><img src="/assets/Index/ForumImage.png" width="240"/></p>
                <p>Talk to other people on our forum! Chat about our games, general topics, or whateve is popular! Come in and join the fun!</p>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
        </div>
    </div>
</div>