@page "/PlayGame"
@inject NavigationManager NavManager
@using SharpScape.Website.Components.Topic
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="background">
    <div class="container">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Welcome To SharpeScape</h2>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                            <div class="col-sm">
                                <p>Continue to game as guest.</p>
                                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Play Game</button>
                            </div>
                            <div class="col-sm">
                                <p>Register first.</p>
                                <a href = "/register" class="btn btn-primary btn-lg px-4">Register</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}