@page "/forum"
@inject HttpClient Http
@inject NavigationManager NavManager
@using SharpScape.Shared.Dto
@using SharpScape.Website.Components.Forum


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="background">
    @if (forums == null)
    {
        <span>categories are loading</span>
    }
    else
    {
        <div class="container">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="p-xs">
                            <div class="pull-left m-r-md">
                                <i class="fa fa-globe text-navy mid-icon"></i>
                            </div>
                            <h2>SharpScape's Forum</h2>
                            <span>Feel free to choose a category you're interested in.</span>
                        </div>
                    </div>
                    <div class="ibox-content forum-container">
                        <div class="forum-title">
                            <div class="pull-right forum-desc">
                                <samll>Total posts: 320,800</samll>
                            </div>
                            <h3>General subjects</h3>
                        </div>
                        @if (forums != null)
                        {
                            foreach (var forumCategory in forums)
                            {
                                string x= forumCategory.Id.ToString();
                                    <Category 
                                        Title=@forumCategory.Name 
                                        SubTitle=@forumCategory.Description 
                                        fcdId=@x 
                                        Route=@forumCategory.Name 
                                        Icon=@Icons[forumCategory.Id-1]
                                    />
                            }
                            @if (loading)
                            {
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <span class="spinner-border spinner-border-lg align-center"></span>
                                    </td>
                                </tr>
                            }
                        }
                        <div class="forum-title">
                            <div class="pull-right forum-desc">
                                <samll>Total posts: 17,800,600</samll>
                            </div>
                            <h3>Other subjects</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>
@code {
    public List<ForumCategoryDto> forums{ get; set; }
    string[] Icons = {"fa fa-shield","fa fa-bolt", "fa fa-calendar","fa fa-star","fa fa-clock-o","fa fa-bomb","fa fa-bookmark","fa fa-ambulance"};
    private bool loading;
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        forums =  await Http.GetFromJsonAsync<List<ForumCategoryDto>>("https://localhost:7193/api/ForumCategories");
        loading = false;
    }
}