.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 2rem;
    background-image: url("images/Background.png");
    background-size: cover;
}
.container {
  padding: 2rem;
}
.card {
  border-left: 0.4rem solid;
  border-color: grey;
  padding: 0.5rem;
  border-radius: 0;
  color: white;
  background-color: #141624;
}
.title {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: white;
}
.modal-dialog {
  padding-top: 5rem;
}
.createbutton {
  padding-left: 30%;
  padding-right: 30%;
}
a {
  text-decoration: none;
}
.text-primary,
a.text-primary:focus,
a.text-primary:hover {
  color: #00adbb !important;
}
.text-black,
.text-hover-black:hover {
  color: #000 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.pagination_background {
    background-color: #1b2042;
}