<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SharpScape</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-row">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <AuthorizeView>
            <Authorized>
            <a class="nav-link" href="forum/@context.User.Claims.First(c => c.Type == "Id").Value" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Forum
            </a>
             </Authorized>
             

             
              <NotAuthorized>
                   <a class="nav-link" href="forum/0" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Forum
            </a>
                </NotAuthorized>
            </AuthorizeView>

        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="GameWorld" Match="NavLinkMatch.All">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Play
            </NavLink>
        </div>
        <div class="nav-item">
            <AuthorizeView>
                <Authorized>
                    @if(context.User.Claims.First(c=>c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role").Value.Equals("Admin")){
                        <a class="nav-link" href="admin" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Admin
                        </a>
                    }
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item">
            <AuthorizeView>
                <Authorized>
                    <a class="nav-link" href="UserProfile/@context.User.Claims.First(c => c.Type == "Id").Value" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity.Name
                    </a>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                        <span class="oi oi-key" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
