@namespace SharpScape.Website.Components.Forum

<div class=@Status>
    <div class="row">
        <div class="col-md-9">
            <div class="forum-icon">
                <i class=@Icon></i>
            </div>
            <a href="category/@Route" class="forum-item-title">
            @Title
            </a>
            <div class="forum-sub-title">@SubTitle</div>
        </div>
        <div class="col-md-1 forum-info">
            <span class="views-number">
                @ViewsNumber
            </span>
            <div>
                <small>Views</small>
            </div>
        </div>
        <div class="col-md-1 forum-info">
            <span class="views-number">
                @TopicsNumber
            </span>
            <div>
                <small>Topics</small>
            </div>
        </div>
        <div class="col-md-1 forum-info">
            <span class="views-number">
                @PostsNumber
            </span>
            <div>
                <small>Posts</small>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Route { get; set; }
    [Parameter]
    public string Status{get;set;}

    [Parameter]
    public string Icon{get;set;}
    [Parameter]
    public string Title{get;set;}
    [Parameter]
    public string SubTitle{get;set;}
    [Parameter]
    public string ViewsNumber{get;set;}
    [Parameter]
    public string TopicsNumber{get;set;}
    [Parameter]
    public string PostsNumber{get;set;}
}