@namespace SharpScape.Website.Components.Forum
@*@inject SharpScape.Website.Services.ForumReferenceProvider Data*@

<div class=@Status>
    <div class="row">
        <div class="col-md-10">
            <div class="forum-icon">
                <i class=@Icon></i>
            </div>
           <a href="category/@Route/@fcdId/@CatLogedId" class="forum-item-title">   
            @Title
            </a>
            <div class="forum-sub-title">@SubTitle</div>
        </div>
        <div class="col-md-1 forum-info">
            <span class="views-number">
                @ThreadsNumber
            </span>
            <div>
                <small>Threads</small>
            </div>
        </div>
        <div class="col-md-1 forum-info">
            <span class="views-number">
                @PostsNumber
            </span>
            <div>
                <small>Posts</small>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string CatLogedId {get; set;}

    [Parameter]
    public string Route { get; set; } = "r";
    [Parameter]
    public string Status { get; set; } = "s";

    [Parameter]
    public string Icon { get; set; } = "i";
    [Parameter]
    public string Title { get; set; } = "t";
    [Parameter]
    public int Id{get;set;}
    [Parameter]
    public string SubTitle{get;set;} = "st";
    [Parameter]
    public string ViewsNumber { get; set; } = "vn";
    [Parameter]
    public string ThreadsNumber { get; set; } = "tn";
    [Parameter]
    public string PostsNumber{get;set;} = "pn";
    [Parameter]
    public string fcdId { get; set; }
    
}