body {
  margin-top: 20px;
  background: #eee;
  color: #708090;
}
.container {
  border-radius: 15px;
  border: 1px solid;
  border-color: grey;
}
.icon-1x {
  font-size: 24px !important;
}
a {
  text-decoration: none;
}
.text-primary,
a.text-primary:focus,
a.text-primary:hover {
  color: #00adbb !important;
}
.text-black,
.text-hover-black:hover {
  color: #000 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
