.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2rem;
  background-image: url(https://imgs.search.brave.com/iBN28HERkONkBG9YeVWhsk6Ju8nnYkUFScUVuUuqacA/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWFn/ZXM2LmFscGhhY29k/ZXJzLmNvbS8zNzYv/Mzc2MzM4LnBuZw);
  background-size: cover;
}
.container {
  padding: 2rem;
}
.card {
  border-left: 0.4rem solid;
  border-color: grey;
  padding: 0.5rem;
  border-radius: 0;
  color: white;
  background-color: #141624;
}
.title {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: white;
}
a {
  text-decoration: none;
}
.text-primary,
a.text-primary:focus,
a.text-primary:hover {
  color: #00adbb !important;
}
.text-black,
.text-hover-black:hover {
  color: #000 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
