@namespace SharpScape.Website.Components.Forum
@inject HttpClient Http
@using SharpScape.Shared.Dto
<div class="d-flex flex-row comment-row ">
    <div class="p-2">
        <span class="round">
        @if(Image.Length > 0){
            <img src=@Image alt="user" width="50">
        }else{
            <img src="images/Avatar.png" alt="user" width="50">
        }
        </span>
    </div>
    <div class="comment-text">
        <h5>@Author</h5>
        <div class="comment-footer">
            <span class="date">@Date</span>
            <span class="action-icons active">
                <a data-abc="true" onclick="@HandleValidDeleteSubmit"><i class="oi oi-trash"></i></a>
            </span>
        </div>
        <p class="m-b-5 m-t-10">@Body</p>
    </div>
</div>
@code{
    [Parameter]
    public string Author { get; set; }
    [Parameter]
    public string AuthorId { get; set; }
    [Parameter]
    public string PostId { get; set; }
    [Parameter]
    public string Date { get; set; } = "";

    [Parameter]
    public string Body { get; set; } = "";
    [Parameter]
    public string Image { get; set; } = "";
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter]
    public Action RefreshMethod{ get; set; }
    public bool CreateThread { get; set; } = false;
    ForumPostEditDto tPost = new ForumPostEditDto();
    ForumPostEditDto post = new ForumPostEditDto();

    private async void HandleValidDeleteSubmit()
    {
        CreateThread = false;
        var result = await Http.DeleteAsync($"https://localhost:7193/api/ForumPosts/{PostId}");
        RefreshMethod.Invoke();
    }
}